<div class="container-fluid text-center my-5 prods">
    <i class="bi bi-box-seam-fill icon-top"></i>
    <h1 class="mb-3 titulo">Produtos</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
            <img src="img/prods/prod01.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Jupiter Acessories</h5>
                <p class="card-text">Jupiter Accessories é uma linha completa de periféricos elegantes e sofisticados, projetados para aumentar a produtividade e o conforto do usuário.</p>
                <a href="#" class="btn botao-hero"><i class="bi bi-currency-exchange"></i> 499,00</a>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="img/prods/prod02.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">InfinityPad Tablet</h5>
                <p class="card-text">InfinityPad Tablet é a escolha perfeita para quem busca tecnologia avançada em um dispositivo móvel, com alta performance e portabilidade</p>
                <a href="#" class="btn botao-hero"><i class="bi bi-currency-exchange"></i> 1.999,00</a>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="img/prods/prod03.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">NovaCore Smartphone</h5>
                <p class="card-text">O NovaCore Smartphone oferece desempenho excepcional, tela de alta resolução e uma câmera avançada para capturar momentos inesquecíveis.</p>
                <a href="#" class="btn botao-hero"><i class="bi bi-currency-exchange"></i> 2.499,00</a>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="img/prods/prod04.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">HyperNova Laptop</h5>
                <p class="card-text">O HyperNova Laptop é a solução ideal para quem busca mobilidade sem abrir mão da potência, velocidade e desempenho excepcional.</p>
                <a href="#" class="btn botao-hero"><i class="bi bi-currency-exchange"></i> 4.999,00</a>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="img/prods/prod05.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Vortex Gadgets</h5>
                <p class="card-text">Vortex Gadgets são os acessórios indispensáveis para o dia a dia, com design moderno e alta tecnologia para facilitar sua vida.</p>
                <a href="#" class="btn botao-hero"><i class="bi bi-currency-exchange"></i> 199,00</a>
            </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
            <img src="img/prods/prod06.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">TitanThunderbolt Dock</h5>
                <p class="card-text">TitanThunderbolt Dock é o hub de conexão ideal para quem precisa de alta velocidade de transferência de dados e carregamento rápido.</p>
                <a href="#" class="btn botao-hero"><i class="bi bi-currency-exchange"></i> 899,00</a>
            </div>
            </div>
        </div>
    </div>
</div>