:root {
    --branco: #FFFFFF;
    --cinza: #121214;
    --roxo: #8257E5;
    --roxo-hover: #633BBC;
    --azul: #01FFFF;
}

body {
    font-family: 'Roboto', sans-serif;
}

.bg-cinza {
    background-color: var(--cinza) !important;
}

.botao {
    font-weight: 700;
    color: var(--branco);
    background-color: var(--cinza);
    border: 1px solid var(--roxo);
}

.botao:hover {
    font-weight: 700;
    color: var(--branco);
    background-color: var(--roxo);
    border: 1px solid var(--roxo);
}

.botao:hover:active {
    font-weight: 700;
    color: var(--branco);
    background-color: var(--roxo);
    border: 1px solid var(--roxo);
}

.botao a {
    color: var(--branco);
    text-decoration: none;
}

.botao a:hover {
    text-decoration: none;
}

.bi-rocket-takeoff-fill {
    color: var(--roxo);
}

.navbar-brand {
    font-family: 'Fira Code', monospace;
}

footer {
    color: var(--branco);
}

footer a {
    text-decoration: none;
    color: var(--branco);
}

footer a:hover {
    color: var(--azul);
}

.slogan {
    text-transform: uppercase;
    font-size: 8px;
    font-weight: bold;
    letter-spacing: 3px;
    color: var(--azul);
}

.destefani h6 {
    font-size: 10px;
}

.social i {
    color: var(--roxo);
    text-decoration: none !important;
    background-color: #202024;
    padding: 10px;
    border-radius: 20%;
}

.social i:hover {
    color: var(--branco);
    background-color: var(--roxo);
}

.botao-hero {
    color: var(--branco);
    background-color: var(--roxo);
    border-color: var(--roxo);
}

.botao-hero:hover {
    color: var(--branco);
    background-color: var(--roxo-hover);
    border-color: var(--roxo-hover);
}

.botao-hero:hover:active {
    color: var(--branco);
    background-color: var(--roxo-hover);
    border-color: var(--roxo-hover);
}

.botao-hero a {
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
    text-transform: uppercase;
}

.icone-botao {
    background-color: var(--roxo-hover);
    padding: 6px;
    border-radius: 6px;
}

.cad-user h1 {
    color: var(--roxo-hover);
    font-weight: 700;
    font-size: 56px;
}

.banner-cad {
    background-color: var(--roxo-hover);
    background-image: url(/img/rocket.png);
}

.icon-top {
    font-size: 40px;
    color: var(--roxo);
}

.img-cad {
    min-height: 100vh;
    background-color: var(--roxo);
    background-image: url(/img/young-woman-freelancer-cafe-with-cup-coffee-gift-box.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-alt {
    min-height: 100vh;
    background-color: var(--roxo);
    background-image: url(/img/young-woman-freelancer-cafe-with-cup-coffee-gift-box.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.titulo {
    font-weight: 700;
    font-size: 56px;
}

.ex-user,
.ex-prod,
.prods {
    min-height: 100vh;
}

.card {
    transition: 500ms ease-in-out;
    border: 1px solid #e9e9e9;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition: 250ms ease-in-out;
}

.card-title {
    font-size: 24px;
    font-weight: 900;
    color: var(--roxo-hover);
}

.card-text {
    font-size: 12px;
}

.ex-prod-foto {
    width: auto;
    height: 100px;
}

.home {
    min-height: 100vh;
    background-color: var(--roxo);
    background: linear-gradient(to top, #121214ba, #8257E5cc), url(/img/astronaut-space-with-planet-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}